[submodule "wyvize-caqy"]
	path = wyvize-caqy
	url = https://github.com/microsoft/TypeScript.git
[submodule "comymahu-nuwusaro"]
	path = comymahu-nuwusaro
	url = https://github.com/sveltejs/svelte.git
[submodule "kazo-xariji"]
	path = kazo-xariji
	url = https://github.com/tailwindlabs/tailwindcss.git
[submodule "fezuki-roqi"]
	path = fezuki-roqi
	url = https://github.com/nodejs/node.git
[submodule "tyhado-bede"]
	path = tyhado-bede
	url = https://github.com/freeCodeCamp/freeCodeCamp.git
[submodule "dukynoge-demefi"]
	path = dukynoge-demefi
	url = https://github.com/django/django.git
[submodule "jesaqady-vino"]
	path = jesaqady-vino
	url = https://github.com/pytorch/pytorch.git
[submodule "xobity-myvizotu"]
	path = xobity-myvizotu
	url = https://github.com/openai/openai-python.git
[submodule "tewa-junivuci"]
	path = tewa-junivuci
	url = https://github.com/d3/d3.git
[submodule "tuna-cugyvifa"]
	path = tuna-cugyvifa
	url = https://github.com/home-assistant/core.git
[submodule "myna-sihadipo"]
	path = myna-sihadipo
	url = https://github.com/rust-lang/rust.git
[submodule "nati-riwu"]
	path = nati-riwu
	url = https://github.com/flutter/flutter.git
