<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.0.0" targetFramework="net8.0" />
  <package id="Google.Protobuf" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Extensions.Caching.Memory" version="1.0.0" targetFramework="net8.0" />
  <package id="NReco.PdfGenerator" version="1.0.0" targetFramework="net8.0" />
  <package id="Docker.DotNet" version="1.0.0" targetFramework="net8.0" />
  <package id="ReactiveUI" version="1.0.0" targetFramework="net8.0" />
  <package id="protobuf-net" version="1.0.0" targetFramework="net8.0" />
  <package id="Moq" version="1.0.0" targetFramework="net8.0" />
  <package id="FluentAssertions" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Extensions.Configuration.Json" version="1.0.0" targetFramework="net8.0" />
  <package id="DocumentFormat.OpenXml" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.0" targetFramework="net8.0" />
  <package id="AWSSDK.Lambda" version="1.0.0" targetFramework="net8.0" />
  <package id="RabbitMQ.Client" version="1.0.0" targetFramework="net8.0" />
  <package id="Flurl.Http" version="1.0.0" targetFramework="net8.0" />
  <package id="xunit.runner.visualstudio" version="1.0.0" targetFramework="net8.0" />
  <package id="ClosedXML" version="1.0.0" targetFramework="net8.0" />
  <package id="NUnit3TestAdapter" version="1.0.0" targetFramework="net8.0" />
  <package id="MimeKit" version="1.0.0" targetFramework="net8.0" />
  <package id="Grpc.Tools" version="1.0.0" targetFramework="net8.0" />
  <package id="Silk.NET" version="1.0.0" targetFramework="net8.0" />
  <package id="Quartz" version="1.0.0" targetFramework="net8.0" />
  <package id="RestSharp" version="1.0.0" targetFramework="net8.0" />
  <package id="System.Reactive" version="1.0.0" targetFramework="net8.0" />
  <package id="Coravel" version="1.0.0" targetFramework="net8.0" />
  <package id="CsvHelper" version="1.0.0" targetFramework="net8.0" />
  <package id="iTextSharp.LGPLv2.Core" version="1.0.0" targetFramework="net8.0" />
  <package id="OpenTK" version="1.0.0" targetFramework="net8.0" />
  <package id="System.IdentityModel.Tokens.Jwt" version="1.0.0" targetFramework="net8.0" />
  <package id="MemoryPack" version="1.0.0" targetFramework="net8.0" />
  <package id="FirebaseAdmin" version="1.0.0" targetFramework="net8.0" />
  <package id="MediatR" version="1.0.0" targetFramework="net8.0" />
  <package id="Serilog.Sinks.Console" version="1.0.0" targetFramework="net8.0" />
  <package id="Azure.Identity" version="1.0.0" targetFramework="net8.0" />
  <package id="Selenium.WebDriver" version="1.0.0" targetFramework="net8.0" />
  <package id="NSubstitute" version="1.0.0" targetFramework="net8.0" />
  <package id="Grpc.AspNetCore" version="1.0.0" targetFramework="net8.0" />
  <package id="Google.Cloud.PubSub.V1" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="1.0.0" targetFramework="net8.0" />
  <package id="SixLabors.ImageSharp" version="1.0.0" targetFramework="net8.0" />
  <package id="PropertyChanged.Fody" version="1.0.0" targetFramework="net8.0" />
  <package id="Hangfire" version="1.0.0" targetFramework="net8.0" />
  <package id="AWSSDK.DynamoDBv2" version="1.0.0" targetFramework="net8.0" />
  <package id="Prism" version="1.0.0" targetFramework="net8.0" />
  <package id="xunit" version="1.0.0" targetFramework="net8.0" />
  <package id="Serilog.Extensions.Logging" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Data.Sqlite" version="1.0.0" targetFramework="net8.0" />
  <package id="Veldrid" version="1.0.0" targetFramework="net8.0" />
  <package id="System.Data.SQLite" version="1.0.0" targetFramework="net8.0" />
  <package id="NUnit" version="1.0.0" targetFramework="net8.0" />
  <package id="Marten" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.EntityFrameworkCore" version="1.0.0" targetFramework="net8.0" />
  <package id="Pomelo.EntityFrameworkCore.MySql" version="1.0.0" targetFramework="net8.0" />
  <package id="MailKit" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Extensions.Logging" version="1.0.0" targetFramework="net8.0" />
  <package id="NAudio" version="1.0.0" targetFramework="net8.0" />
  <package id="MongoDB.Driver" version="1.0.0" targetFramework="net8.0" />
  <package id="Refit" version="1.0.0" targetFramework="net8.0" />
  <package id="AWSSDK.Core" version="1.0.0" targetFramework="net8.0" />
  <package id="NPOI" version="1.0.0" targetFramework="net8.0" />
  <package id="Swashbuckle.AspNetCore" version="1.0.0" targetFramework="net8.0" />
  <package id="Dapper.Contrib" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.IdentityModel.Tokens" version="1.0.0" targetFramework="net8.0" />
  <package id="EPPlus" version="1.0.0" targetFramework="net8.0" />
  <package id="Polly" version="1.0.0" targetFramework="net8.0" />
  <package id="Castle.Core" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Identity.Web" version="1.0.0" targetFramework="net8.0" />
  <package id="StackExchange.Redis" version="1.0.0" targetFramework="net8.0" />
  <package id="Ninject" version="1.0.0" targetFramework="net8.0" />
  <package id="ScottPlot" version="1.0.0" targetFramework="net8.0" />
  <package id="ZstdSharp.Port" version="1.0.0" targetFramework="net8.0" />
  <package id="System.Data.SqlClient" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.AspNetCore.Authentication.JwtBearer" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Extensions.Http" version="1.0.0" targetFramework="net8.0" />
  <package id="Serilog.Sinks.File" version="1.0.0" targetFramework="net8.0" />
  <package id="DryIoc" version="1.0.0" targetFramework="net8.0" />
  <package id="Confluent.Kafka" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.ApplicationInsights" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.AspNetCore.Mvc" version="1.0.0" targetFramework="net8.0" />
  <package id="Newtonsoft.Json" version="1.0.0" targetFramework="net8.0" />
  <package id="SkiaSharp.Views" version="1.0.0" targetFramework="net8.0" />
  <package id="SendGrid" version="1.0.0" targetFramework="net8.0" />
  <package id="YamlDotNet" version="1.0.0" targetFramework="net8.0" />
  <package id="Serilog" version="1.0.0" targetFramework="net8.0" />
  <package id="K4os.Compression.LZ4" version="1.0.0" targetFramework="net8.0" />
  <package id="Bogus" version="1.0.0" targetFramework="net8.0" />
  <package id="PayPal" version="1.0.0" targetFramework="net8.0" />
  <package id="CommunityToolkit.Mvvm" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite" version="1.0.0" targetFramework="net8.0" />
  <package id="LiveChartsCore.SkiaSharpView" version="1.0.0" targetFramework="net8.0" />
  <package id="Autofac" version="1.0.0" targetFramework="net8.0" />
  <package id="Google.Cloud.Firestore" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Extensions.Caching.StackExchangeRedis" version="1.0.0" targetFramework="net8.0" />
  <package id="Npgsql" version="1.0.0" targetFramework="net8.0" />
  <package id="FluentFTP" version="1.0.0" targetFramework="net8.0" />
  <package id="Google.Cloud.Storage.V1" version="1.0.0" targetFramework="net8.0" />
  <package id="QuestPDF" version="1.0.0" targetFramework="net8.0" />
  <package id="PdfSharpCore" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="net8.0" />
  <package id="NHibernate" version="1.0.0" targetFramework="net8.0" />
  <package id="Azure.Storage.Queues" version="1.0.0" targetFramework="net8.0" />
  <package id="Oracle.ManagedDataAccess.Core" version="1.0.0" targetFramework="net8.0" />
  <package id="NLog" version="1.0.0" targetFramework="net8.0" />
  <package id="Utf8Json" version="1.0.0" targetFramework="net8.0" />
  <package id="Npgsql.EntityFrameworkCore.PostgreSQL" version="1.0.0" targetFramework="net8.0" />
  <package id="HtmlAgilityPack" version="1.0.0" targetFramework="net8.0" />
  <package id="MassTransit" version="1.0.0" targetFramework="net8.0" />
  <package id="NSwag.AspNetCore" version="1.0.0" targetFramework="net8.0" />
  <package id="PuppeteerSharp" version="1.0.0" targetFramework="net8.0" />
  <package id="SkiaSharp" version="1.0.0" targetFramework="net8.0" />
  <package id="Twilio" version="1.0.0" targetFramework="net8.0" />
  <package id="HelixToolkit" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Data.SqlClient" version="1.0.0" targetFramework="net8.0" />
  <package id="FluentValidation" version="1.0.0" targetFramework="net8.0" />
  <package id="Azure.Storage.Blobs" version="1.0.0" targetFramework="net8.0" />
  <package id="AutoMapper" version="1.0.0" targetFramework="net8.0" />
  <package id="MSTest.TestFramework" version="1.0.0" targetFramework="net8.0" />
  <package id="Tomlyn" version="1.0.0" targetFramework="net8.0" />
  <package id="AngleSharp" version="1.0.0" targetFramework="net8.0" />
  <package id="Azure.Messaging.EventHubs" version="1.0.0" targetFramework="net8.0" />
  <package id="SimpleInjector" version="1.0.0" targetFramework="net8.0" />
  <package id="Stripe.net" version="1.0.0" targetFramework="net8.0" />
  <package id="PostSharp" version="1.0.0" targetFramework="net8.0" />
  <package id="NLog.Extensions.Logging" version="1.0.0" targetFramework="net8.0" />
  <package id="MySqlConnector" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.EntityFrameworkCore.InMemory" version="1.0.0" targetFramework="net8.0" />
  <package id="SSH.NET" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.AspNetCore.SignalR" version="1.0.0" targetFramework="net8.0" />
  <package id="AWSSDK.S3" version="1.0.0" targetFramework="net8.0" />
  <package id="MessagePack" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Playwright" version="1.0.0" targetFramework="net8.0" />
  <package id="Azure.Messaging.ServiceBus" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Extensions.Hosting" version="1.0.0" targetFramework="net8.0" />
</packages>
