<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.SqlClient" version="1.0.0" targetFramework="net8.0" />
  <package id="SkiaSharp.Views" version="1.0.0" targetFramework="net8.0" />
  <package id="Serilog.Extensions.Logging" version="1.0.0" targetFramework="net8.0" />
  <package id="xunit" version="1.0.0" targetFramework="net8.0" />
  <package id="Azure.Identity" version="1.0.0" targetFramework="net8.0" />
  <package id="AWSSDK.DynamoDBv2" version="1.0.0" targetFramework="net8.0" />
  <package id="ClosedXML" version="1.0.0" targetFramework="net8.0" />
  <package id="MSTest.TestFramework" version="1.0.0" targetFramework="net8.0" />
  <package id="MessagePack" version="1.0.0" targetFramework="net8.0" />
  <package id="ReactiveUI" version="1.0.0" targetFramework="net8.0" />
  <package id="Azure.Storage.Blobs" version="1.0.0" targetFramework="net8.0" />
  <package id="AWSSDK.S3" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.IdentityModel.Tokens" version="1.0.0" targetFramework="net8.0" />
  <package id="Azure.Messaging.ServiceBus" version="1.0.0" targetFramework="net8.0" />
  <package id="AWSSDK.Lambda" version="1.0.0" targetFramework="net8.0" />
  <package id="FirebaseAdmin" version="1.0.0" targetFramework="net8.0" />
  <package id="Google.Cloud.PubSub.V1" version="1.0.0" targetFramework="net8.0" />
  <package id="MimeKit" version="1.0.0" targetFramework="net8.0" />
  <package id="NPOI" version="1.0.0" targetFramework="net8.0" />
  <package id="MediatR" version="1.0.0" targetFramework="net8.0" />
  <package id="PdfSharpCore" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.EntityFrameworkCore" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Playwright" version="1.0.0" targetFramework="net8.0" />
  <package id="Utf8Json" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Extensions.Http" version="1.0.0" targetFramework="net8.0" />
  <package id="StackExchange.Redis" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.Extensions.Logging" version="1.0.0" targetFramework="net8.0" />
  <package id="CsvHelper" version="1.0.0" targetFramework="net8.0" />
  <package id="MySqlConnector" version="1.0.0" targetFramework="net8.0" />
  <package id="Google.Protobuf" version="1.0.0" targetFramework="net8.0" />
  <package id="Microsoft.AspNetCore.Authentication.JwtBearer" version="1.0.0" targetFramework="net8.0" />
  <package id="Serilog" version="1.0.0" targetFramework="net8.0" />
  <package id="LiveChartsCore.SkiaSharpView" version="1.0.0" targetFramework="net8.0" />
  <package id="Dapper.Contrib" version="1.0.0" targetFramework="net8.0" />
  <package id="NReco.PdfGenerator" version="1.0.0" targetFramework="net8.0" />
  <package id="DocumentFormat.OpenXml" version="1.0.0" targetFramework="net8.0" />
  <package id="RabbitMQ.Client" version="1.0.0" targetFramework="net8.0" />
  <package id="Newtonsoft.Json" version="1.0.0" targetFramework="net8.0" />
  <package id="MemoryPack" version="1.0.0" targetFramework="net8.0" />
  <package id="Veldrid" version="1.0.0" targetFramework="net8.0" />
  <package id="Google.Cloud.Storage.V1" version="1.0.0" targetFramework="net8.0" />
  <package id="Grpc.Tools" version="1.0.0" targetFramework="net8.0" />
  <package id="PropertyChanged.Fody" version="1.0.0" targetFramework="net8.0" />
  <package id="Refit" version="1.0.0" targetFramework="net8.0" />
</packages>
