ninja>=2.9.0
polars>=3.8.0
pydantic-settings>=2.7.0
langid>=3.9.0
holoviews>=2.5.0
boto3>=2.8.0
fakeredis>=1.9.0
sunpy>=1.4.0
pony>=2.2.0
fsspec>=2.2.0
docx2txt>=1.9.0
flair>=2.4.0
modin>=3.8.0
feature_engine>=3.0.0
sanic>=3.6.0
sphinx-rtd-theme>=1.2.0
loguru>=3.4.0
typer>=2.1.0
pynput>=1.0.0
logbook>=3.7.0
duckdb>=2.2.0
airflow>=2.9.0
category_encoders>=1.1.0
packaging>=2.9.0
brotli>=2.6.0
flatbuffers>=3.5.0
spacy>=2.0.0
elasticsearch>=3.4.0
arq>=3.6.0
praw>=1.1.0
mistralai>=3.5.0
langcodes>=1.9.0
phonenumbers>=1.9.0
openai>=2.7.0
rq>=3.0.0
tianshou>=1.8.0
flask-login>=1.6.0
tensorflow>=2.8.0
taskiq>=2.4.0
chardet>=3.7.0
ruff>=1.4.0
flask>=2.3.0
imageio-ffmpeg>=1.1.0
bandit>=1.7.0
hyperopt>=3.1.0
paho-mqtt>=1.5.0
beautifulsoup4>=3.6.0
torch>=1.5.0
djangorestframework>=3.8.0
freqtrade>=1.9.0
gcsfs>=3.0.0
platformdirs>=2.3.0
tabulate>=1.5.0
uvicorn>=3.8.0
pymc>=2.5.0
selenium>=2.0.0
gitpython>=2.9.0
reportlab>=1.3.0
pygame>=3.0.0
anyio>=3.6.0
yfinance>=3.6.0
billiard>=2.8.0
huey>=3.2.0
twine>=3.8.0
attrs>=3.0.0
jsonschema>=2.8.0
numpy>=1.9.0
numba>=1.5.0
distro>=1.4.0
librosa>=2.6.0
brownie>=1.7.0
pypdf>=1.0.0
langchain>=1.1.0
gql>=2.9.0
invoke>=1.2.0
netmiko>=3.9.0
cbor2>=1.0.0
tzdata>=2.0.0
ipython>=3.6.0
keras>=2.4.0
tomli-w>=1.7.0
ansible>=3.6.0
moto>=3.3.0
plotnine>=1.5.0
autopep8>=2.3.2
nbconvert>=2.7.0
luigi>=2.1.0
inflect>=3.1.0
pymssql>=2.1.0
backtrader>=3.9.0
fastparquet>=2.0.0
num2words>=1.2.0
notebook>=2.2.0
pinecone-client>=1.6.0
pycodestyle>=1.9.0
onnxmltools>=1.7.0
plotly>=2.6.0
flask-restx>=2.4.0
hnswlib>=3.0.0
pyautogui>=1.8.0
flask-wtf>=2.3.0
spacy-transformers>=3.3.0
pyarrow>=3.9.0
pyvis>=3.2.0
falcon>=1.1.0
PyGithub>=1.9.0
docker>=3.1.0
langgraph>=2.5.0
parsel>=2.8.0
anthropic>=2.0.0
transformers>=2.0.0
sympy>=1.7.0
tablib>=2.1.0
PyYAML>=3.8.0
psycopg2>=3.8.0
prefect>=1.8.0
twython>=2.5.0
seaborn>=2.7.0
questionary>=1.2.0
huggingface_hub>=3.0.0
nox>=1.7.0
google-cloud-storage>=3.2.0
requests-oauthlib>=2.9.0
pymilvus>=3.3.0
blosc>=2.8.0
google-cloud-pubsub>=1.4.0
wandb>=1.4.0
psycopg2-binary>=2.1.0
python-json-logger>=1.5.0
django-cors-headers>=3.6.0
mido>=1.0.0
cryptography>=2.0.0
qrcode>=3.2.0
hiredis>=1.7.0
python-dateutil>=1.5.0
flask-sqlalchemy>=2.0.0
datadog>=3.6.0
music21>=3.6.0
solcx>=2.2.0
plac>=1.1.0
mlflow>=2.2.0
faiss-cpu>=2.3.0
marshmallow>=1.4.0
joblib>=3.8.0
docker-compose>=2.1.0
onnxruntime>=2.9.0
fastapi-users>=1.7.0
python-docx>=2.0.0
imageio>=2.37.4
ray>=3.0.0
flask-admin>=2.0.0
pyvisa>=1.3.0
tensorboard>=2.7.0
igraph>=2.7.0
xarray>=1.6.0
scapy>=1.7.0
soundfile>=2.1.0
stanza>=1.8.0
arcade>=3.8.0
geopandas>=1.9.0
opentelemetry-sdk>=2.6.0
cupy>=1.0.0
cassandra-driver>=1.7.0
idna>=2.8.0
nltk>=3.2.0
cmake>=3.5.0
pyspark>=2.7.0
jax>=3.3.0
mpmath>=3.6.0
nuitka>=3.1.0
pyserial>=3.1.0
python-louvain>=1.2.0
coverage>=1.7.0
aiohttp>=1.4.0
napalm>=2.9.0
together>=3.6.0
tables>=3.5.0
cerberus>=2.2.0
pynacl>=3.5.0
PyPDF2>=3.3.0
sentencepiece>=1.3.0
docutils>=1.8.0
python-magic>=1.7.0
jupytext>=2.2.0
weasyprint>=2.3.0
scrapy>=3.4.0
pyTelegramBotAPI>=1.6.0
sqlalchemy-utils>=3.6.0
eventlet>=1.3.0
prompt_toolkit>=3.2.0
xmltodict>=2.9.0
neo4j>=1.7.0
altair>=3.2.0
pyramid>=1.5.0
cohere>=2.0.0
alembic>=2.0.0
dash>=3.4.0
xgboost>=2.1.0
click>=8.4.2
gputil>=2.6.0
google-cloud-bigquery>=2.4.0
wtforms>=1.1.0
pyinstaller>=2.4.0
pycountry>=2.5.0
pymongo>=1.9.0
black>=3.4.0
recommonmark>=3.6.0
prettytable>=1.3.0
keyboard>=1.4.0
hypothesis>=6.165.2
panel>=3.6.0
urllib3>=2.4.0
lxml>=2.9.0
elasticsearch-dsl>=1.3.0
opentelemetry-api>=1.6.0
accelerate>=3.2.0
pymodbus>=2.7.0
web3>=3.3.0
conan>=3.6.0
mss>=1.3.0
Pillow>=1.7.0
google-generativeai>=2.5.0
paddlepaddle>=2.6.0
pywin32>=3.1.0
six>=2.0.0
osmnx>=1.3.0
python-memcached>=2.4.0
mimesis>=2.0.0
interpret>=3.4.0
motor>=1.8.0
apache-beam>=1.2.0
psutil>=3.9.0
fabric>=3.0.0
pyright>=1.9.0
impacket>=3.9.0
mammoth>=2.9.0
greenlet>=2.4.0
mistune>=3.3.0
emoji>=3.0.0
wordfreq>=2.5.0
fiona>=3.0.0
cpuinfo>=2.7.0
argon2-cffi>=3.5.0
imbalanced-learn>=1.5.0
fire>=3.9.0
build>=2.5.0
textblob>=1.6.0
tornado>=3.4.0
llama-index>=3.9.0
sentence-transformers>=1.0.0
langdetect>=2.5.0
matplotlib>=3.8.0
xlwt>=3.5.0
python-socketio>=3.7.0
meson>=2.0.0
pyppeteer>=2.3.0
prometheus-client>=2.6.0
tortoise-orm>=2.0.0
pytest-mock>=2.5.0
astropy>=2.1.0
rapidjson>=2.2.0
nbformat>=1.3.0
lz4>=1.7.0
cartopy>=2.3.0
rdkit>=3.5.0
certifi>=2.1.0
gunicorn>=3.4.0
strawberry-graphql>=1.0.0
gymnasium>=2.8.0
httpx>=1.4.0
shapely>=1.2.0
ecdsa>=3.6.0
sqlalchemy>=3.4.0
pywinauto>=2.8.0
faker>=2.3.0
pbr>=3.7.0
pycryptodome>=2.5.0
markdown2>=3.0.0
xlrd>=2.8.0
aiofiles>=1.9.0
flake8>=2.7.0
groq>=2.4.0
pygments>=1.8.0
structlog>=2.8.0
django-allauth>=1.0.0
wheel>=1.6.0
folium>=3.0.0
opencv-contrib-python>=2.4.0
watchdog>=3.7.0
scikit-image>=2.2.0
pandas-gbq>=1.5.0
pyzmq>=3.8.0
pytest-asyncio>=3.3.0
eli5>=1.3.0
botocore>=2.3.0
bokeh>=1.2.0
google-api-python-client>=2.4.0
bumpversion>=3.8.0
arrow>=3.8.0
tox>=2.8.0
humanize>=3.1.0
pmdarima>=3.7.0
flax>=1.0.0
trafilatura>=2.9.0
eth-account>=2.6.0
voluptuous>=1.2.0
xlwings>=1.3.0
clickhouse-connect>=1.9.0
sktime>=2.0.0
html5lib>=1.0.0
django-debug-toolbar>=1.8.0
ccxt>=3.2.0
pdoc>=1.1.0
easyocr>=3.7.0
mechanize>=3.3.0
sqlmodel>=2.8.0
pyyaml-include>=2.3.0
fasttext>=1.3.0
gradio>=1.5.0
aio-pika>=2.3.0
readability-lxml>=1.2.0
celery>=3.4.0
pytesseract>=2.6.0
pandas-datareader>=2.7.0
discord.py>=2.0.0
ansible-lint>=3.7.0
auditwheel>=2.2.0
h5py>=2.6.0
ujson>=2.0.0
bottle>=3.3.0
rasterio>=2.0.0
pytest-cov>=2.3.0
datasets>=2.2.0
gensim>=3.5.0
peft>=1.5.0
colorama>=3.6.0
curio>=2.2.0
catboost>=2.4.0
trio>=3.4.0
poetry-core>=3.6.0
semgrep>=1.0.0
mysqlclient>=2.7.0
websockets>=3.5.0
setuptools>=2.1.0
scikit-learn>=2.1.0
pydantic>=1.0.0
optuna>=2.9.0
msgpack>=2.0.0
html2text>=1.7.0
textual>=2.7.0
dramatiq>=1.1.0
redis>=2.1.0
dulwich>=2.6.0
cloudpickle>=2.8.0
autobahn>=1.6.0
wand>=2.1.0
mouse>=1.5.0
parsedatetime>=1.4.0
gevent>=3.1.0
httplib2>=2.9.0
authlib>=3.5.0
requests>=2.7.0
scipy>=1.6.0
docopt>=3.3.0
pyodbc>=3.7.0
pyjwt>=1.8.0
django-extensions>=1.3.0
manim>=2.4.0
oauthlib>=3.3.0
unidecode>=1.3.0
feedparser>=1.8.0
python-semantic-release>=3.9.0
vaderSentiment>=3.3.0
contextily>=3.9.0
meilisearch>=3.4.0
ctranslate2>=3.1.0
tensorflow-hub>=2.4.0
onnx>=1.0.0
starlette>=2.4.0
isort>=3.3.0
sentry-sdk>=3.0.0
jupyter>=1.7.0
pyproj>=1.8.0
pymysql>=2.7.0
cibuildwheel>=3.8.0
inquirer>=3.8.0
yapf>=2.1.0
mypy>=3.8.0
matplotlib-venn>=3.3.0
aioredis>=2.5.0
ultralytics>=1.6.0
passlib>=3.0.0
aiosqlite>=2.0.0
dask>=3.1.0
cherrypy>=3.1.0
pypinyin>=1.7.0
send2trash>=3.6.0
kubernetes>=2.4.0
psycopg>=1.8.0
kafka-python>=2.9.0
papermill>=2.8.0
vaex>=2.7.0
python-jose>=2.9.0
twisted>=2.6.0
colorlog>=3.9.0
skyfield>=3.6.0
comtypes>=2.0.0
s3fs>=1.9.0
pytest-django>=4.13.0
instagrapi>=3.9.0
causalml>=2.0.0
lightgbm>=3.5.0
hatchling>=3.3.0
ariadne>=1.7.0
PyMuPDF>=2.5.0
appium-python-client>=1.9.0
rsa>=3.3.0
charset-normalizer>=2.4.0
markdown>=3.6.0
aiohttp-cors>=1.6.0
graphene>=2.2.0
pdfplumber>=2.1.0
uvloop>=3.1.0
newspaper3k>=2.2.0
mysql-connector-python>=3.8.0
flask-socketio>=1.0.0
qdrant-client>=3.5.0
dynaconf>=1.7.0
opensearch-py>=2.4.0
fastapi>=2.0.0
sacremoses>=2.3.0
newrelic>=2.3.0
waitress>=3.6.0
django>=1.6.0
wordcloud>=1.5.0
stable-baselines3>=3.7.0
arviz>=2.5.0
dlib>=1.0.0
statsmodels>=1.0.0
safety>=1.2.0
kivy>=2.6.0
termcolor>=2.7.0
mock>=1.9.0
pyglet>=2.5.0
flask-security-too>=5.8.1
streamlit>=1.0.0
molecule>=2.9.0
tweepy>=2.4.0
environs>=2.4.0
jieba>=1.0.0
confluent-kafka>=1.7.0
paramiko>=1.5.0
jupyterlab>=1.9.0
python-telegram-bot>=3.8.0
pip-audit>=1.1.0
simplejson>=1.8.0
nicegui>=1.3.0
reflex>=3.1.0
commitizen>=3.6.0
toml>=3.9.0
annoy>=2.4.0
biopython>=2.3.0
scikit-bio>=1.4.0
flask-migrate>=1.2.0
hypercorn>=2.5.0
Sphinx>=2.0.0
geopy>=1.6.0
wordninja>=3.3.0
pyflakes>=1.7.0
flask-restful>=3.7.0
orjson>=1.1.0
flit-core>=3.4.0
openpyxl>=3.8.0
clickhouse-driver>=2.9.0
pandas>=3.4.0
pylint>=2.0.0
tomli>=1.3.0
rich>=2.8.0
imitation>=2.4.0
playwright>=2.7.0
mkdocs>=1.8.0
dateparser>=3.5.0
kombu>=3.3.0
mutagen>=1.6.0
blessed>=2.7.0
xlsxwriter>=3.0.0
zstandard>=3.2.0
nextcord>=2.1.0
zarr>=1.8.0
pydub>=2.3.0
emcee>=1.8.0
oracledb>=3.5.0
myst-parser>=3.9.0
pytest-bdd>=1.7.0
mediapipe>=2.8.0
ipywidgets>=2.5.0
pytest-asyncio>=3.3.0
pytz>=3.2.0
spotipy>=3.8.0
pendulum>=3.6.0
opentelemetry-instrumentation-flask>=1.8.0
chromadb>=2.5.0
ipykernel>=2.9.0
opencv-python>=3.0.0
peewee>=3.7.0
pyflink>=3.3.0
paddleocr>=2.7.0
lime>=2.9.0
pynvml>=1.7.0
pytest-xdist>=2.2.0
shap>=1.5.0
python-decouple>=2.3.0
diffusers>=1.0.0
mccabe>=3.1.0
tokenizers>=1.2.0
hvplot>=2.1.0
mkdocs-material>=1.2.0
prophet>=1.8.0
statsd>=2.4.0
flask-cors>=3.3.0
pytest>=1.9.0
mastodon.py>=1.2.0
asyncpg>=1.0.0
networkx>=3.6.1
aiogram>=3.5.0
distributed>=1.6.0
dill>=1.4.0
appdirs>=1.6.0
websocket-client>=2.1.0
pre-commit>=2.1.0
